@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --diablo-dark-grey: #010101;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  font-family: Exocet;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header {
  background: #FFFFFF;
  border: 0.167rem solid var(--diablo-dark-grey);
  border-top: none;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin: 0.33rem;
  margin-top: 0;
  padding: 0.33rem;

  display: flex;
  align-items: center;
  font-size: 1.75rem;

  color: var(--diablo-dark-grey);
}

.header a {
  color: var(--diablo-dark-grey);
}

.header img {
  display: inline-block;

  max-width: 3rem;
  margin-right: 1rem;
}

.achievement-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 0.33rem;
  padding: 0.33rem;
  background: #FFFFFF;
  border-radius: 0.25rem;
  border: 0.167rem solid #101010;
  margin: 0 0.33rem;
}

.achievement-grid-tile,
.sector-grid-tile,
.tile {
  aspect-ratio: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  background: #939393;
}

.tile img,
.achievement-grid-tile img,
.sector-grid-tile img {
  padding: 0.25rem;
  height: 5rem;
}

.tile {
  border: 0.167rem solid #010101;
}

.achievement-grid-tile {
  border: 0.167rem solid #010101;
}

.sector-grid-tile {
  border: 0.167rem solid #510400;
}


.grid-tile-selected {
  border: 0.167rem solid rgb(0, 255, 0);
}